
// @import url("../css/section.css");
// @import url("../css/triwikrama.css");
@import url("color.less");

@color-primary: #333;
@font-face {
	font-family: 'myriadpro';
	src: url('../fonts/myriadpro.otf');
}
@font-face {
	font-family: 'and_black_0';
	src: url('../fonts/and_black_0.ttf');
}
.andBlack {
	font-family: 'and_black_0';
}
.MyriadPro {
	font-family: 'myriadpro';
}
a {
	color: @color-primary;
	&:hover {
		color: darken(@color-primary, 20%);

	}
}
.portlet {
	margin-top: 30px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.2);
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
	.portlet-body {
	}
}
.page-wrapper {
	.page-wrapper-middle {
		background: #6b6b6b;
		background-size: 50% auto;
		position: relative;
	}
}
.coverbg {
	background: @color-primary url('../img/pattern_bg.png') top center;
	background-size: 50% auto;
	// border-top: 1px solid #328fcf;
	// width: 100%;

	height: 30px;
}
.row {
	&.no-gutters {
		margin: 0;
		> div[class^="col-"] {
			padding: 0;
		}
	}
	&.row-flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		> div[class^="col-"] {
			float: none;
		}
	}
}
.dashboard-grid {
	> .row {
		margin: 0 -5px;
		> div[class^="col-"] {
			padding: 0 5px;
		}
	}
	.dg-col {
		background: #fff;
		margin-bottom: 10px;
		border-radius: 10px !important;
		min-height: 150px;
		display: flex;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
		border: 5px solid transparent;
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		.transition;
		&:hover {
			border: 5px solid @color-primary;
		}
		img {
			width: 60px;
			margin-bottom: 10px;
		}
		span {
			display: block;
			font-size: 14px;
			color: #333;
			font-weight: bold;
		}
	}
}
.page-logo {
	img {
		float: left;
		width: 80px;
		height: auto;
		margin-top: 10px !important;
	}
	.logo-text {
		padding-top: 20px;
		padding-left: 10px;
		float: left;
		width: auto;
		display: inline;

		span {
			color: #fff;
			font-size: 30px;
			font-weight: 600;
			display: inline;
			vertical-align: middle;
			&.span1 {
				color: #FFCF06;
			}
			&.span2 {
				color: #fff;
				.andBlack;
			}
		}
	}
}
.pagination {
	> .disabled {
		> a {
			color: darken(@color-primary, 10%);
		}
	}
	> .active {
		a {
			background: @color-primary;
			border-color: darken(@color-primary, 5%);
			&:hover {
				background: lighten(@color-primary, 5%);
				border-color: lighten(@color-primary, 5%);
			}
		}
	}
}
.page-content {
	padding-top: 0;
}
.page-header {
	background: linear-gradient(359.57deg, #6B6B6B 48.3%, #373737 90.75%);
	background-blend-mode: screen, normal;
	mix-blend-mode: normal;
	background-size: 100% auto;

	@media (min-width: 768px) {
		height: auto;
	}
	.page-header-top {
		@media (min-width: 768px) {
			margin-bottom: 25px;
		}
		.top-menu {
			.navbar-nav {
				li.dropdown-user {
					&.open {
						a.dropdown-toggle {
							background: transparent;

						}
					}
					a.dropdown-toggle {
						&:hover,
						&:visited,
						&:focus,
						&.open {
							background: transparent;
						}
						img,span.username {
							float: none;
							color: #fff;
							&:hover {
								color: #333;
							}
						}
					}
				}
			}
		}
		.page-logo {
			width: auto;
			.logo-text {
				padding-top: 36px;
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}
	.page-header-menu {
		background: #fff;
		// border: 2px solid #ddd;
		// box-shadow: 0px 5px 15px #222;
		min-height: 51px;
		border-bottom: 0;
		position: relative;

		&:before {
			content: '';
			display: none;
		}
		@media (min-width: 768px) {
			border-radius: 25px !important;
		}
		.hor-menu {
			width: 100%;
			.navbar-nav {
				margin-top: -1px;
				margin-bottom: 20px;
				width: 100%;
			
				> li {
			
					&:first-child {
						> a {
								@media (min-width: 768px) {
									border-top-left-radius: 25px !important;
									border-bottom-left-radius: 25px !important;
								}
						}
					}
					&:last-child {
						> a {
							@media (min-width: 768px) {
								border-top-right-radius: 25px !important;
								border-bottom-right-radius: 25px !important;
							}
						}
					}
					&:hover {
						> a {
							background: lighten(@color-primary, 10%) !important;
							color: #fff;
							> i {
								color: #fff;

							}
						}
					}
					> a {
						// border-right: 1px solid #ddd;
						border: 1px solid transparent;
						border-bottom: 0;
						color: @color-primary;
						.transition;
						&:hover,
						&:active,
						&:focus {
							border-color: transparent;
							background: lighten(@color-primary,10%) !important;
							color: #fff;
							> i {
								color: #fff;
							}
						}
						> i {
							color: @color-primary;
						}

					}
					.dropdown-menu {
						min-width: 240px;
						background: none;
						border-bottom-right-radius: 20px !important;
						border-bottom-left-radius: 20px !important;
						li {
							&:last-child {

								> a {
									border-bottom-right-radius: 20px !important;
									border-bottom-left-radius: 20px !important;
								}
							}
							&:hover {
								> a {
									background: lighten(@color-primary, 10%) !important;
									color: #fff;
									> i {
										color: #fff;
									}
								}
							}
							> a {
								background: @color-primary;
								color: #fff;
								&:after {
									color: #fff;
								}
								> i {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}

.page-footer {
	background: #fff;
	border-top: 1px solid #ddd;
	color: @color-primary;
}

.scroll-to-top {
	> i {
		color: #2d2d2d;
	}
}
